<div class="row">
  <div class="col-md-12 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-header>User Name</nb-card-header>
      <nb-card-body>
        <nb-select placeholder="Select User">
          <nb-option value="1">User Name 1</nb-option>
          <nb-option value="2">User Name 2</nb-option>
          <nb-option value="2">User Name 3</nb-option>
          <nb-option value="2">User Name 4</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-header>Date</nb-card-header>
      <nb-card-body>
        <nb-select placeholder="Select Date">
          <nb-option value="1">29-01-2024</nb-option>
          <nb-option value="2">30-01-2024</nb-option>
          <nb-option value="2">31-01-2024</nb-option>
          <nb-option value="2">01-02-2024</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-md-12 col-lg-6 col-xxxl-3 flex-container">
    <div class="col-md-12 col-lg-4 col-xxxl-2">
      <nb-card class="list-card">
        <nb-card-header>Screen 1</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let fruit of screens">
              {{ fruit }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-12 col-lg-4 col-xxxl-2">
      <nb-card class="list-card">
        <nb-card-header>Screen 1</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let fruit of screens">
              {{ fruit }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-12 col-lg-4 col-xxxl-2">
      <nb-card class="list-card">
        <nb-card-header>Screen 1</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let fruit of screens">
              {{ fruit }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-12 col-lg-4 col-xxxl-2">
      <nb-card class="list-card">
        <nb-card-header>Screen 1</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let fruit of screens">
              {{ fruit }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-12 col-lg-4 col-xxxl-2">
      <nb-card class="list-card">
        <nb-card-header>Screen 1</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let fruit of screens">
              {{ fruit }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-12 col-lg-4 col-xxxl-2">
      <nb-card class="list-card">
        <nb-card-header>Screen 1</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let fruit of screens">
              {{ fruit }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<div class="row third">
  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>User Name</nb-card-header>
      <nb-card-body>
        <nb-select placeholder="Select User">
          <nb-option value="1">User Name 1</nb-option>
          <nb-option value="2">User Name 2</nb-option>
          <nb-option value="2">User Name 3</nb-option>
          <nb-option value="2">User Name 4</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>Date</nb-card-header>
      <nb-card-body>
        <nb-select placeholder="Select Date">
          <nb-option value="1">29-01-2024</nb-option>
          <nb-option value="2">30-01-2024</nb-option>
          <nb-option value="2">31-01-2024</nb-option>
          <nb-option value="2">01-02-2024</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>
